$primaryColor:#ff8e3c !default;
$primaryLightColor:#FFA361 !default;
$primaryDarkColor:#c26c2f !default;
$primaryDarkerColor:#8f4f22 !default;
$primaryTextColor:#ffffff !default;

@import '../sass/theme/_theme';