$primaryColor:#60A753 !default;
$primaryLightColor:#77B36C !default;
$primaryDarkColor:#487e3f !default;
$primaryDarkerColor:#355d2e !default;
$primaryTextColor:#fffffe !default;

@import '../sass/theme/_theme';