$primaryColor:#f582ae !default;
$primaryLightColor:#F795BA !default;
$primaryDarkColor:#ba6384 !default;
$primaryDarkerColor:#8f3d3c !default;
$primaryTextColor:#fffffe !default;

@import '../sass/theme/_theme';