$primaryColor:#21b5ad !default;
$primaryLightColor:#4ccac4 !default;
$primaryDarkColor:#0ca096 !default;
$primaryDarkerColor:#0a7f78 !default;
$primaryTextColor:#ffffff !default;

@import '../sass/theme/_theme';