$primaryColor:#39C6D1 !default;
$primaryLightColor:#62D1D9 !default;
$primaryDarkColor:#2b979f !default;
$primaryDarkerColor:#206f75 !default;
$primaryTextColor:#fffffe !default;

@import '../sass/theme/_theme';