$primaryColor:#B2BD3E !default;
$primaryLightColor:#C2CA73 !default;
$primaryDarkColor:#878f2f !default;
$primaryDarkerColor:#646a23 !default;
$primaryTextColor:#fffffe !default;

@import '../sass/theme/_theme';