$primaryColor:#3da9fc !default;
$primaryLightColor:#6BBCFB !default;
$primaryDarkColor:#2e81c0 !default;
$primaryDarkerColor:#225f8d !default;
$primaryTextColor:#fffffe !default;

@import '../sass/theme/_theme';