$primaryColor:#078080 !default;
$primaryLightColor:#4db3b3 !default;
$primaryDarkColor:#056161 !default;
$primaryDarkerColor:#044747 !default;
$primaryTextColor:#f8f5f2 !default;

@import '../sass/theme/_theme';