$primaryColor:#6F5899 !default;
$primaryLightColor:#8771AE !default;
$primaryDarkColor:#554374 !default;
$primaryDarkerColor:#3e3256 !default;
$primaryTextColor:#fffffe !default;

@import '../sass/theme/_theme';