$primaryColor:#6246ea !default;
$primaryLightColor:#9e8df3 !default;
$primaryDarkColor:#4a35b2 !default;
$primaryDarkerColor:#372783 !default;
$primaryTextColor:#fffffe !default;

@import '../sass/theme/_theme';