$primaryColor:#ff6e6c !default;
$primaryLightColor:#FF8987 !default;
$primaryDarkColor:#c25351 !default;
$primaryDarkerColor:#8f3d3c !default;
$primaryTextColor:#fffffe !default;

@import '../sass/theme/_theme';