$primaryColor:#ffd803 !default;
$primaryLightColor:#ffe868 !default;
$primaryDarkColor:#c2a502 !default;
$primaryDarkerColor:#8f7a01 !default;
$primaryTextColor:#272343 !default;

@import '../sass/theme/_theme';