$primaryColor:#8C7851 !default;
$primaryLightColor:#baab8b !default;
$primaryDarkColor:#6b5c3e !default;
$primaryDarkerColor:#4f442e !default;
$primaryTextColor:#fffffe !default;

@import '../sass/theme/_theme';