$primaryColor:#689AB2 !default;
$primaryLightColor:#79ABC3 !default;
$primaryDarkColor:#4f7688 !default;
$primaryDarkerColor:#3a5764 !default;
$primaryTextColor:#fffffe !default;

@import '../sass/theme/_theme';