$fontFamily:'Inter UI',sans-serif !default;
$fontSize:13px !default;
$textColor:#191a1c !default;
$textSecondaryColor:#525557 !default;
$borderRadius:4px !default;
$transitionDuration:.2s !default;
$dividerColor:#dee2e6 !default;
$bodyBgColor:#eceef2 !default;
$tabletBreakpoint: 991px !default;
$phoneBreakpoint: 576px !default;