$primaryColor:#5871FA !default;
$primaryLightColor:#6F85FE !default;
$primaryDarkColor:#4255be !default;
$primaryDarkerColor:#313f8c !default;
$primaryTextColor:#fffffe !default;

@import '../sass/theme/_theme';